html, body {
    margin: 0;
    height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: turquoise;
    color: black;
    text-align: center;
}

img {
    border: 1px solid black;
    margin: 10px;
}